#pesquisa {
    border-radius: 20px;
    border: solid 1px var(--roxo);
    width: 100%;
}

#pesq {
    border-radius: 20px;
    border: solid 1px var(--roxo);
    width: 100%;
}

#botao {
    border-radius: 20px;
    border: solid 1px var(--ciano);
    color: #FFF;
    background-color: var(--ciano);
    width: 100%;
}